{%- assign show_icon_setting = true -%}
{%- if show_icon == false -%}
  {%- assign show_icon_setting = false -%}
{%- endif -%}

<span
  aria-hidden="true"
  class="button button--text{% if class %} {{ class }}{% endif %}"
  {{ block.shopify_attributes }}
>
  <span class="button-text__label">{{ label }}</span>
  {%- if settings.font_text_button_decoration == 'arrow' and show_icon_setting -%}
    {%- render 'icon' with 'arrow-right', class: 'icon--s' -%}
  {%- endif -%}
</span>
