<a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
    {% if cart == empty %}
      <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
    {% else %}
      <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
    {% endif %}
    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
   
</a>