
{%- if cart != empty -%}
    {% assign last_added_product = cart.items | last %}
{{ last_added_product.title }}
    <div id="cart-notification-product-{{ last_added_product.key }}" class="cart-item">
        
    </div>
  {%- endif -%}
  