.add-to-cart-confirmation-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    background-color: white;
}

.add-to-cart-modal-product-image img {
    width: 400px;
    height: 400px;
}

.add-to-cart-confirmation-modal-container {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999999999999;
    width: 100%;
    display: flex;
    justify-content: center;
}