.add-to-cart-confirmation-modal {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border: 1px solid #F5F5F5;
    gap: 10px;
}

.add-to-cart-modal-product-image,
.add-to-cart-modal-product-details {
    flex: 0.5;
}

.add-to-cart-modal-product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-to-cart-modal-product-image img {
    width: 100%;
    height: 100%;
}

.add-to-cart-confirmation-modal-container {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999999999999;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.add_to_cart_modal-subtitles > span {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
}

.add_to_cart_modal-subtitles .add-to-cart-modal-product-name,
.add_to_cart_modal-subtitles .add-to-cart-modal-amount-saved {
    font-weight: 700;
    font-size: 18px;
}

.add-to-cart-modal-title {
    font-size: 24px;
    color: #05117F;
    font-weight: 700;
    margin: 0;
}
.add-to-cart-modal-title * {
    margin: 0;
}

.add-to-cart-modal-recommendation-product {
    display: flex;
    gap: 10px;
}

.add-to-cart-modal-recommendation-product h5 {
    margin: 0;
}

.add-to-cart-modal-recommended-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recommended-product-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommended-product-image-wrapper {
    width: 80px;
    height: 110px;
}

.recommended-product-image-wrapper img {
    width: 100%;
    height: 100%;
}