.password__block {
  display: flex;
  gap: max(var(--gap-section), var(--space-xl));
  padding-block: var(--gap-section);
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
}

.password__image-wrapper {
  position: relative;
}

.password__image {
  inline-size: 100%;
}

.password__header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  inline-size: 100%;
}

.password__nav {
  display: flex;
  gap: var(--space-s);
  flex: 1 1 100%;
}

.password__dialog {
  inline-size: 35ch;
}

.shopify-link {
  display: inline-block;
  vertical-align: middle;
}

.icon-shopify {
  inline-size: 4rem;
  block-size: auto;
}

@media (min-width: 48em) {
  .password {
    min-block-size: 100vh;
  }

  .password__image {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .password__block {
    block-size: 100%;
  }
}
